</h3>
				<ul>
					<li><a href="#">Themeforest.net</a></li>
					<li><a href="#">WordPress Themes &amp; Templates</a></li>
					<li><a href="#">Designagent webdesign</a></li>
					<li><a href="#">Buy this theme</a></li>
					<li><a href="#">Follow on Twitter</a></li>
				</ul>
			</div>
			<div class="footerbox last">
				<h3>Contactez-Nous</h3>
				<p>...<br/>
				Lyon, 69002<br/>
				France</p>

				<ul class="contact-info">
					<li><i class="icon-phone" title="Phone"></i>   0600000000</li>
					
					<li><i class="icon-envelope" title="Email"></i> isoconcept69@gmail.com</li>
					<li><i class="icon-desktop" title="Web"></i>   concept-iso.com</li>
				</ul>
			</div>
			<br class="clear" />
		</div> 
		
		<div class="bottom">
			<p class="right">&copy; 2015 Iso Concept. Tous droits reservés</p>
		</div>
	</div>
</footer>



<!-- Custom Homepage Scripts _____________________________________________-->
<script> 		
jQuery(window).load(function() {

	// init Cycle for slider
	$('#slides').after('<div id="circle-pager">').cycle({
			fx:      'fade', 
			speed:    800, 
			timeout:  8000,
			cleartype:  true,
			cleartypeNoBg: false,
			pager: '#circle-pager',
			next:  '#slider .next1', 
			prev:  '#slider .prev1',
			slideResize: false,
			fit: 0,
			width: '100%',
			before:  function(currSlideElement, nextSlideElement) { 
				// hide elements and put them in start position		
				$(this).find('.slide-image').css({
					'opacity': '0',
					'right': '-50px'
				});
				$(this).find('.slide-text').css({
					'opacity': '0',
					'left': '-50px'
				});
				$(this).find('.slide-text p').css({
					'opacity': '0',
					'left': '15px'
				});
				$(this).find('.slide-image img').css({
					'opacity': '0',
					'right': '-100px'
				});
			},
			after:  function(currSlideElement, nextSlideElement) { 			
				// fade in image
				$(this).find('.slide-image').animate({
					'opacity': '1',
					'right': '0'
				}, 500, 'linear');
				// bring the text box from top
				$(this).find('.slide-text').delay(500).animate({
					'opacity': '1',
					'left': '0'
				}, 500, 'easeOutBack');
				// bring the paragraphs in
				$(this).find('.slide-text p:eq(0)').delay(500).animate({
					'opacity': '1',
					'left': '0'
				}, 500, 'easeOutBack');
				$(this).find('.slide-text p:eq(1)').delay(700).animate({
					'opacity': '1',
					'left': '0'
				}, 500, 'easeOutBack');
				$(this).find('.slide-text p:eq(2)').delay(900).animate({
					'opacity': '1',
					'left': '0'
				}, 500, 'easeOutBack');
				$(this).find('.slide-text p:eq(3)').delay(1100).animate({
					'opacity': '1',
					'left': '0'
				}, 500, 'easeOutBack');
				// bring the front images in
				$(this).find('.slide-image img:eq(0)').delay(500).animate({
					'opacity': '1',
					'right': '0'
				}, 800, 'easeOutBack');
				$(this).find('.slide-image img:eq(1)').delay(700).animate({
					'opacity': '1',
					'right': '0'
				}, 800, 'easeOutBack');
				$(this).find('.slide-image img:eq(2)').delay(900).animate({
					'opacity': '1',
					'right': '0'
				}, 800, 'easeOutBack');
				$(this).find('.slide-image img:eq(3)').delay(1100).animate({
					'opacity': '1',
					'right': '0'
				}, 800, 'easeOutBack');

			} 
		});
	

	// init jCarousel for portfolio pieces
	$('.sneakpeak-carousel').jcarousel({
		'wrap': 'both'
	});
	$('.sneakpeak-prev').click(function() {
		$('.sneakpeak-carousel').jcarousel('scroll', '-=1');
	});
	$('.sneakpeak-next').click(function() {
		$('.sneakpeak-carousel').jcarousel('scroll', '+=1');
	});

});	
</script>

<!-- Google Analytics ______________________________________-->
<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })(); 

</script>

</body>
</html>
